.cls-1,
.cls-3 {
    fill: none;
    stroke: #2e186a;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.cls-1 {
    stroke-width: 6px;
}
.cls-2 {
    fill: #fe7624;
}
.cls-3 {
    stroke-width: 8px;
}
.cls-4 {
    fill: #2e186a;
}
